click
google-api-python-client==2.60.0
google-auth-oauthlib==0.4.6
google-auth==2.11.0
lightning
matplotlib
ml-collections
numpy
pillow
python-dotenv
pytorch-cuda==11.8
scipy
torch
torchaudio
torchinfo
torchvision
